<div class="wrapper-calendar" data-controller="calendar">
  <div class="calendar" data-calendar-target="container">
    <h2 class="d-flex justify-content-center"><strong><%= t 'your_calendar' %></strong></h2>
    <% shifts_my = my_user_shifts.map(&:shift) %>
    <% shifts_open = open_user_shifts.map(&:shift) %>
    <div class="calendar-dates">
      <div class="calendar-dates-weekdays">
        <div class="calendar-dates-weekdays-weekday"><%= t 'mon' %></div>
        <div class="calendar-dates-weekdays-weekday"><%= t 'tue' %></div>
        <div class="calendar-dates-weekdays-weekday"><%= t 'wed' %></div>
        <div class="calendar-dates-weekdays-weekday"><%= t 'thu' %></div>
        <div class="calendar-dates-weekdays-weekday"><%= t 'fri' %></div>
        <div class="calendar-dates-weekdays-weekday"><%= t 'sat' %></div>
        <div class="calendar-dates-weekdays-weekday"><%= t 'sun' %></div>
      </div>
      <div class="calendar-dates-days">
        <% days[:last_month].each do |day| %>
          <div class="calendar-dates-days-day calendar-dates-days-day--previous">
            <div class="calendar-dates-days-day-number">
              <%= day %>
            </div>
            <div class="calendar-dates-days-day-myshift">
              <% my_user_shifts.each do |user_shift| %>
                <% if user_shift.shift.date.day == day && user_shift.shift.date.month == current.last_month.month %>
                  <div class="calendar-shift">
                    <% case user_shift.shift.slot.name
                        when "Early" %>
                      <div class="calendar-shift-timeslot-early calendar-shift-timeslot-early--previous"><%= t 'early' %></div>
                    <% when "Late" %>
                      <div class="calendar-shift-timeslot-late calendar-shift-timeslot-late--previous"><%= t 'late' %></div>
                    <% when "Night" %>
                      <div class="calendar-shift-timeslot-night calendar-shift-timeslot-night--previous"><%= t 'night' %></div>
                    <% end %>
                  </div>
                <% end %>
              <% end %>
            </div>
            <div class="calendar-dates-days-day-openshifts">
              <% if open_user_shifts.any? { |u_shift| u_shift.shift.date.day == day && u_shift.shift.date.month == current.last_month.month && u_shift.shift.date > DateTime.now } %>
                <div class="calendar-shift-circle"><i class="fas fa-bell"></i></div>
              <% end %>
            </div>
          </div>
        <% end %>
        <% days[:this_month].each do |day| %>
          <div class="calendar-dates-days-day <%= "calendar-dates-days-day--today" if day == Date.today.day %>">
            <div class="calendar-dates-days-day-number">
              <%= day %>
            </div>
            <div class="calendar-dates-days-day-myshift">
              <% my_user_shifts.each do |user_shift| %>
                <% if user_shift.shift.date.day == day && user_shift.shift.date.month == month %>
                  <div class="calendar-shift">
                    <% case user_shift.shift.slot.name
                        when "Early" %>
                      <%= link_to user_shift_path(user_shift), class: "calendar-shift-link" do %>
                        <div class="calendar-shift-timeslot-early"><%= t 'early' %></div>
                      <% end %>
                    <% when "Late" %>
                      <%= link_to user_shift_path(user_shift), class: "calendar-shift-link" do %>
                        <div class="calendar-shift-timeslot-late"><%= t 'late' %></div>
                      <% end %>
                    <% when "Night" %>
                      <%= link_to user_shift_path(user_shift), class: "calendar-shift-link" do %>
                        <div class="calendar-shift-timeslot-night"><%= t 'night' %></div>
                      <% end %>
                    <% end %>
                  </div>
                <% end %>
              <% end %>
            </div>
            <div class="calendar-dates-days-day-openshifts">
              <% if open_user_shifts.any? { |u_shift| u_shift.shift.date.day == day && u_shift.shift.date.month == month && !u_shift.user && u_shift.shift.date > DateTime.now } %>
                <div class="calendar-shift-circle calendar-shift-circle--emergency"><i class="fas fa-bell"></i></div>
              <% elsif open_user_shifts.any? { |u_shift| u_shift.shift.date.day == day && u_shift.shift.date.month == month && u_shift.shift.date > DateTime.now } %>
                <div class="calendar-shift-circle"><i class="fas fa-bell"></i></div>
              <% end %>
            </div>
          </div>
        <% end %>
        <% days[:next_month].each do |day| %>
          <div class="calendar-dates-days-day calendar-dates-days-day--next">
            <div class="calendar-dates-days-day-number">
              <%= day %>
            </div>
            <div class="calendar-dates-days-day-myshift">
              <% my_user_shifts.each do |user_shift| %>
                <% if user_shift.shift.date.day == day && user_shift.shift.date.month == current.next_month.month %>
                  <div class="calendar-shift">
                    <% case user_shift.shift.slot.name
                        when "Early" %>
                      <div class="calendar-shift-timeslot-early calendar-shift-timeslot-early--next"><%= t 'early' %></div>
                    <% when "Late" %>
                      <div class="calendar-shift-timeslot-late calendar-shift-timeslot-late--next"><%= t 'late' %></div>
                    <% when "Night" %>
                      <div class="calendar-shift-timeslot-night calendar-shift-timeslot-night--next"><%= t 'night' %></div>
                    <% end %>
                  </div>
                <% end %>
              <% end %>
            </div>
            <div class="calendar-dates-days-day-openshifts">
              <% if open_user_shifts.any? { |u_shift| u_shift.shift.date.day == day && u_shift.shift.date.month == current.next_month.month && u_shift.shift.date > DateTime.now } %>
                <div class="calendar-shift-circle"><i class="fas fa-bell"></i></div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="calendar-dates-month">
        <div>
          <%= link_to shifts_with_calendar_path(year: current.last_month.year, month: current.last_month.month ),
          class: "calendar-dates-month-arrows",
          remote: true,
          data: {
            action: "click->calendar#navigate"
          } do %>
          <i class="fas fa-caret-square-left"></i>
          <% end %>
        </div>
        <div><%= mth %> <%= year %></div>
        <div>
          <%= link_to shifts_with_calendar_path(year: current.next_month.year, month: current.next_month.month ),
          class: "calendar-dates-month-arrows",
          remote: true,
          data: {
            action: "click->calendar#navigate"
          } do %>
          <i class="fas fa-caret-square-right"></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
