<div class="show-box">
  <div class="d-flex justify-content-between text">
    <h1><%= @user_shift.shift.slot.name.capitalize %> shift</h1>
    <h3 class="shift-card-date-p">
      <%= @user_shift.shift.date.strftime("%b %d") %>
    </h3>
  </div>
  <div class="text">
    <i class="shift-card-icon fas fa-clock i"></i>
    <%= @user_shift.shift.slot.start_time.strftime("%H:%M") %> - <%= @user_shift.shift.slot.end_time.strftime("%H:%M") %>
  </div>
  <div class="text">
    <i class="fas fa-coins i"></i>
    <%= @user_shift.shift.bonus_points %> bps
  </div>
  <div class="text">
    <i class="fas fa-info-circle i"></i>
    <%= @user_shift.details %>
  </div>
  <div class="text">
    <%# avatars to be added here %>
  </div>
  <br>
  <p class="btn btn-primary mb-0">Offer shift</p>
  <br>
  <br>
  <div class="container user-shift">
    <h3>Comments</h3>
    <div class="messages" data-controller="user-shift-subscription"
      data-user-shift-subscription-user-shift-id-value="<%= @user_shift.id %>">
      <% @user_shift.messages.each do |message| %>
        <%= render "messages/message", message: message %>
      <% end %>
    </div>
  </div>
  <%= simple_form_for [@user_shift, @message], remote: true do |f| %>
    <%= f.input :content, label: false, placeholder: "Message ##{@user_shift.shift.date.strftime("%b %d")}" %>
    <%= f.submit %>
  <% end %>
</div>
