<div class="d-flex flex-column align-items-center justify-content-center">
  <br>
  <h2><strong>Your colleagues</strong></h2>
  <% @users.each do |user|  %>
    <div class="box colleague-card" data-bs-toggle="collapse" data-bs-target="#colleagueCard<%= user.id %>" aria-expanded="false" aria-controls="colleagueCard<%= user.id %>">
      <div>
        <div class="colleague-banner">
          <div class="colleague-full-name">
            <h2><%= user.first_name %></h2>
            <h2><%= user.last_name %></h2>
          </div>
          <img src="https://kitt.lewagon.com/placeholder/users/WizardOfMenlo" class="card-trip-user avatar-bordered colleague-card-avatar" />
        </div>
        <div class="text role">
          <i class="fas fa-user-tie i mx-1"></i>
          <%= user.functional_role.name.capitalize %>
        </div>
        <div class="collapse mt-1 colleague-card" id="colleagueCard<%= user.id %>">
          <div class="card card-body colleague-card-drop col2">
            <div class="d-flex flex-row justify-content-between">
              <div class="text">
                <i class="fas fa-book-medical i"></i>
                <%= user.experience_level %>
              </div>
              <div class="text">
                <i class="fas fa-coins i"></i>
                <%= user.bonus_points %> bps
              </div>
            </div>
              <div class="text personal">
                <em>"<%= user.additional_infos %>"</em>
              </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
