<div class="d-flex align-items-center justify-content-around menu-bar">
  <% if user_signed_in? %>
    <%= link_to profile_path do %>
      <i class="fas fa-user i"></i>
    <% end %>
    <%= link_to users_path do %>
      <i class="fas fa-users i"></i>
    <% end %>
    <%= link_to shifts_this_month_with_calendar_path do %>
      <i class="fas fa-calendar-alt i"></i>
    <% end %>
    <%= link_to root_path do %>
      <i class="fas fa-home i"></i>
    <% end %>
  <% else %>
    <%= link_to root_path do %>
      <i class="fas fa-home i"></i>
    <% end %>
  <% end %>
</div>
