<div class="d-flex align-items-center justify-content-around menu-bar">
  <% if user_signed_in? %>
    <%= link_to profile_path do %>
      <i class="fas fa-user i"></i>
    <% end %>
    <a href="#">
      <i class="fas fa-users i"></i>
    </a>
    <div class="btn-group dropup">
      <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-calendar-alt i"></i>
      </button>
      <ul class="dropdown-menu">
        <li><%= link_to 'My shifts', shifts_path, class: "dropdown-item" %></li>
        <%#= link_to 'Team shifts', shifts__path, class: "dropdown-item" %>
        <%# <%= link_to 'Open shifts', shifts_open_path, class: "dropdown-item" %>
      </ul>
    </div>
    <%= link_to root_path do %>
      <i class="fas fa-home"></i>
    <% end %>
  <% else %>
    <%= link_to root_path do %>
      <i class="fas fa-home"></i>
    <% end %>
  <% end %>
</div>
