<%= @year %>
<%= @month %>
<%= @shifts.length %>
<%= @user.first_name %>

<div class="day">
  <div>
  </div>
</div>

<%# <% if @year && @month %>
  <%= render 'calendar', shifts: @shifts, year: @year, month: @month, mth: @mth %>
<% end %> %>
