<div class="wrapper">
  <h2>Hello <%= current_user.first_name %> </h2>
  <div class="shift-box">
    <h3>Your next Shift</h3>
    <div class="shiftCard">


    <div class="card-frame">
      <p id="shift">Night shift</p>
      <div class="d-flex align-items-center">
        <%= image_tag "time.png", alt: "clock-icon", width: 15, class:"align-self-flex-start" %>
        <p id="time">06:00 - 18:00</p>
      </div>
    </div>

      <div class="date-box">
        <p id="date">16 Nov</p>
        <div class="d-flex align-items-center">
          <%= image_tag "points.png", alt: "coins-icon", width: 15 %>
          <p id="points">30 bps</p>
        </div>
      </div>
    </div>
  </div>



  <div class="shift-box">
    <h3>New open shifts</h3>
    <div class="shiftCard">
      <%= current_user.user_shifts.first %>
      <%= current_user.user_shifts.first %>
      <%= current_user.user_shifts.first %>
    </div>
  </div>
</div>
