<div class="wrapper">
  <h2>Hello <%= current_user.first_name %> </h2>
  <div class="shift-box">
    <h3>Your next Shift</h3>
    <div class="shift-card">
      <div class="shift-card-left-side">
        <h2 class="shift-card-left-side-title"><%= @next_shift_slot.capitalize %> shift</h2>
        <div class="d-flex align-items-center">
        <i class="shift-card-icon fas fa-clock"></i>
        <p class="shift-card-time"><%= @next_shift.slot.start_time %> - <%= @next_shift.slot.end_time %></p>
        </div>
      </div>
      <div class="shift-card-right-side">
        <p class="shift-card-date"><%= @next_shift.date %></p>
        <div class="d-flex align-items-center">
          <i class="shift-card-icon fas fa-coins"></i>
          <p class="shift-card-points"><%= @next_shift.bonus_points %> bps</p>
        </div>
      </div>
    </div>
  </div>
  <div class="shift-box">
    <h3>New open shifts</h3>


  <% Shift.all.each do |shift| %>
    <div class="shiftCard">
      <div class="shift-card shift-card-active">
        <div class="shift-card-left-side">
          <h2 class="shift-card-left-side-title shift-card-active"><%= shift.slot.name.capitalize %> shift</h2>
          <div class="d-flex align-items-center">
          <i class="shift-card-icon fas fa-clock shift-card-active"></i>
            <p class="shift-card-time shift-card-active"><%= shift.slot.start_time %> - <%= shift.slot.start_time %></p>
          </div>
        </div>
        <div class="shift-card-right-side">
          <p class="shift-card-date"><%= shift.date %></p>
          <div class="d-flex align-items-center">
            <i class="shift-card-icon fas fa-coins shift-card-active"></i>
            <p class="shift-card-points shift-card-active"> <%= shift.bonus_points %></p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
