<%if user_signed_in? %>


  <div class="wrapper">
    <h2>Hello <%= current_user.first_name %> </h2>
    <div class="shift-box">
      <h2>Your next Shift</h2>
      <div class="shift-card" data-bs-toggle="collapse" data-bs-target="#nextShift" aria-expanded="false" aria-controls="nextShift">
        <div class="shift-card-left-side">
          <h3 class="shift-card-left-side-title"><%= @next_shift_slot.capitalize %> shift</h3>
          <div class="d-flex align-items-center">
          <i class="shift-card-icon fas fa-clock"></i>
          <p class="shift-card-time"><%= @next_shift.slot.start_time.strftime("%H:%M") %> - <%= @next_shift.slot.end_time.strftime("%H:%M") %></p>
          </div>
        </div>
        <div class="shift-card-right-side">
          <p class="shift-card-date"><%= @next_shift.date.strftime("%b %d") %></p>
          <div class="d-flex align-items-center">
            <i class="shift-card-icon fas fa-coins"></i>
            <p class="shift-card-points"><%= @next_shift.bonus_points %> bps</p>
          </div>
        </div>
        <div class="collapse mt-1" id="nextShift">
          <div class="card card-body shift-card-drop">
            <strong>Details</strong>
            <p class="next-shift-card-drop-details">Expecting surge due to COVID-19 wave evolution.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="shift-box">

      <h2>Open shifts</h2>
      <% @open_shifts.each do |shift| %>
      <div class="shift-card shift-card-active" data-bs-toggle="collapse" data-bs-target="#cardForShift<%= shift.id %>" aria-expanded="false" aria-controls="cardForShift<%= shift.id %>">
        <div class="shift-card-left-side">
          <h3 class="shift-card-left-side-title shift-card-active"><%= shift.slot.name.capitalize %> shift</h3>
          <div class="d-flex align-items-center">
            <i class="shift-card-icon fas fa-clock shift-card-active"></i>
            <p class="shift-card-time shift-card-active"><%= shift.slot.start_time.strftime("%H:%M") %> - <%= shift.slot.end_time.strftime("%H:%M") %></p>
          </div>
        </div>
        <div class="shift-card-right-side">
          <p class="shift-card-date"><%= shift.date.strftime("%b %d") %></p>
          <div class="d-flex align-items-center">
            <i class="shift-card-icon fas fa-coins shift-card-active"></i>
            <p class="shift-card-points shift-card-active"> <%= shift.bonus_points %></p>
          </div>
        </div>
        <div class="collapse mt-1" id="cardForShift<%= shift.id %>">
          <div class="card card-body shift-card-drop">
            <strong>Details</strong>
            <div class="details">
              <p class="shift-card-drop-details">Expecting surge due to COVID-19 wave evolution.</p>
            </div>
            <div class="shift-card-drop-buttons">
              <p class="btn btn-primary mb-0">accept</p>
              <p class="btn btn-secondary mx-2 my-0">reject</p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<% else %>
  <div class="banner-landing-page">
    <h1 id="h1-tag"><strong>Shifted</strong></h1>
    <p id="p-tag"><strong>Finally loving work planning.</strong></p>
    <%= link_to 'Login', new_user_session_path, class: "btn btn-warning login-btn" %>
  </div>
<% end %>
