<%if user_signed_in? %>
  <div class="wrapper">
    <h2><%= t 'hello' %> <%= current_user.first_name %> </h2>
    <div class="shift-box">
      <h2 class="shift-box-heading"><%= t 'next_shift' %></h2>
      <div class="shift-card <%= "shift-card--early" if @next_user_shift.shift.slot.name == "Early" %>
                             <%= "shift-card--late" if @next_user_shift.shift.slot.name == "Late" %>
                             <%= "shift-card--night" if @next_user_shift.shift.slot.name == "Night" %>"
        data-bs-toggle="collapse" data-bs-target="#nextShift" aria-expanded="false" aria-controls="nextShift">
        <div class="shift-card-left-side">
          <h3 class="shift-card-left-side-title"><%= t 'early' if @next_user_shift.shift.slot.name == "Early" %>
                                                 <%= t 'late' if @next_user_shift.shift.slot.name == "Late" %>
                                                 <%= t 'night' if @next_user_shift.shift.slot.name == "Night" %>
            <% if @next_user_shift.shift.user_on_shift?(current_user) %>
              <img class="avatar-bordered avatar-bordered--small" src="<%= cl_image_path(current_user.photo.key, width: 75, height: 75, crop: :thumb, gravity: :face) %>" alt="avatar-image">
            <% end %>
          </h3>
          <div class="d-flex align-items-center">
          <p class="shift-card-time"><i class="shift-card-icon fas fa-clock"></i>&nbsp&nbsp<%= @next_user_shift.shift.slot.start_time.strftime("%H:%M") %> - <%= @next_user_shift.shift.slot.end_time.strftime("%H:%M") %></p>
          </div>
        </div>
        <div class="shift-card-right-side">
          <p class="shift-card-date"><%= params[:locale] == 'de' ? l(@next_user_shift.shift.date, format: "%d. %b") : l(@next_user_shift.shift.date, format: "%b %d") %></p>
          <% unless @next_user_shift.bonus_points == 0 %>
            <div class="d-flex align-items-center">
              <p class="shift-card-points"><i class="shift-card-icon fas fa-coins"></i>&nbsp&nbsp<%= @next_user_shift.bonus_points %> bps</p>
            </div>
          <% end %>
        </div>
        <div class="collapse mt-1 shift-card-container" id="nextShift">
          <div class="shift-card-container-drop">
            <div class="shift-card-container-drop-avatars">
              <% @next_user_shift.shift.user_ids.each do |user_id| %>
                <% user=User.find(user_id) %>
                <% unless user == current_user %>
                  <img src="<%= cl_image_path(user.photo.key, width: 75, height: 75, crop: :thumb, gravity: :face) %>" alt="avatar-image" class="avatar-bordered shift-card-avatar">
                <% end %>
              <% end %>
            </div>
            <strong>Details</strong>
            <p class="shift-card-container-drop-details"><%= @next_user_shift.details %></p>
            <%= link_to user_shift_path(@next_user_shift), class: "shift-card-icon-link" do %>
              <i class="shift-card-icon-info fas fa-info-circle"></i>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="shift-box shift-box--emergency">
      <h2 class="shift-box--emergency-heading"><%= t 'emergencies' %> <i class="fas fa-exclamation-triangle"></i></h2>
      <% @emergency_shifts.each do |u_shift| %>
        <div class="shift-card shift-card--emergency" data-bs-toggle="collapse" data-bs-target="#cardForShift<%= u_shift.id %>" aria-expanded="false" aria-controls="cardForShift<%= u_shift.id %>">
          <div class="shift-card-left-side">
            <h3 class="shift-card-left-side-title"><%= t 'early' if u_shift.shift.slot.name == "Early" %>
                                                   <%= t 'late' if u_shift.shift.slot.name == "Late" %>
                                                   <%= t 'night' if u_shift.shift.slot.name == "Night" %>
              <% if u_shift.shift.user_on_shift?(current_user) %>
                <img class="avatar-bordered avatar-bordered--small" src="<%= cl_image_path(current_user.photo.key, width: 75, height: 75, crop: :thumb, gravity: :face) %>" alt="avatar-image">
              <% end %>
            </h3>
            <div class="d-flex align-items-center">
              <p class="shift-card-time"><i class="shift-card-icon fas fa-clock"></i>&nbsp&nbsp<%= u_shift.shift.slot.start_time.strftime("%H:%M") %> - <%= u_shift.shift.slot.end_time.strftime("%H:%M") %></p>
            </div>
          </div>
          <div class="shift-card-right-side">
            <p class="shift-card-date"><%= params[:locale] == 'de' ? l(u_shift.shift.date, format: "%d. %b") : l(u_shift.shift.date, format: "%b %d") %></p>
            <% unless u_shift.bonus_points == 0 %>
              <div class="d-flex align-items-center">
                <p class="shift-card-points"><i class="shift-card-icon fas fa-coins"></i>&nbsp&nbsp<%= u_shift.bonus_points %> bps</p>
              </div>
            <% end %>
          </div>
          <div class="collapse mt-1 shift-card-container" id="cardForShift<%= u_shift.id %>">
            <div class="shift-card-container-drop">
              <div class="shift-card-container-drop-avatars">
                <% u_shift.shift.user_ids.each do |user_id| %>
                  <% user=User.find(user_id) %>
                  <% unless user == current_user %>
                    <img src="<%= cl_image_path(user.photo.key, width: 75, height: 75, crop: :thumb, gravity: :face) %>" alt="avatar-image" class="avatar-bordered shift-card-avatar">
                  <% end %>
                <% end %>
              </div>
              <strong>Details</strong>
              <div class="details">
                <p class="shift-card-container-drop-details"><%= u_shift.details %></p>
              </div>
              <div class="shift-card-container-drop-buttons">
                <%= link_to user_shift_path(u_shift), class: "shift-card-icon-link" do %>
                  <i class="shift-card-icon-info fas fa-info-circle"></i>
                <% end %>
                <% unless u_shift.shift.user_on_shift?(current_user) %>
                  <%= link_to accept_shift_path(u_shift) do %>
                    <p class="btn btn-primary mb-0 take-over-button"><%= t 'take_over' %></p>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="shift-box">
      <h2 class="shift-box-heading"><%= t 'other_open_shifts' %></h2>
      <% @open_shifts.each do |u_shift| %>
        <div class="shift-card <%= "shift-card--early" if u_shift.shift.slot.name == "Early" %>
                               <%= "shift-card--late" if u_shift.shift.slot.name == "Late" %>
                               <%= "shift-card--night" if u_shift.shift.slot.name == "Night" %>"
        data-bs-toggle="collapse" data-bs-target="#cardForShift<%= u_shift.id %>" aria-expanded="false" aria-controls="cardForShift<%= u_shift.id %>">
          <div class="shift-card-left-side">
            <h3 class="shift-card-left-side-title shift-card-active"><%= t 'early' if u_shift.shift.slot.name == "Early" %>
                                                                     <%= t 'late' if u_shift.shift.slot.name == "Late" %>
                                                                     <%= t 'night' if u_shift.shift.slot.name == "Night" %>
              <% if u_shift.shift.user_on_shift?(current_user) %>
                <img class="avatar-bordered avatar-bordered--small" src="<%= cl_image_path(current_user.photo.key, width: 75, height: 75, crop: :thumb, gravity: :face) %>" alt="avatar-image">
              <% end %>
            </h3>
            <div class="d-flex align-items-center">
              <p class="shift-card-time shift-card-active"><i class="shift-card-icon fas fa-clock shift-card-active"></i>&nbsp&nbsp<%= u_shift.shift.slot.start_time.strftime("%H:%M") %> - <%= u_shift.shift.slot.end_time.strftime("%H:%M") %></p>
            </div>
          </div>
          <div class="shift-card-right-side">
            <p class="shift-card-date"><%= params[:locale] == 'de' ? l(u_shift.shift.date, format: "%d. %b") : l(u_shift.shift.date, format: "%b %d") %></p>
            <% unless u_shift.bonus_points == 0 %>
              <div class="d-flex align-items-center">
                <p class="shift-card-points shift-card-active"><i class="shift-card-icon fas fa-coins shift-card-active"></i>&nbsp&nbsp<%= u_shift.bonus_points %> bps</p>
              </div>
            <% end %>
          </div>
          <div class="collapse mt-1 shift-card-container" id="cardForShift<%= u_shift.id %>">
            <div class="shift-card-container-drop">
              <div class="shift-card-container-drop-avatars">
                <% u_shift.shift.user_ids.each do |user_id| %>
                  <% user=User.find(user_id) %>
                  <% unless user == current_user %>
                    <img src="<%= cl_image_path(user.photo.key, width: 75, height: 75, crop: :thumb, gravity: :face) %>" alt="avatar-image" class="avatar-bordered shift-card-avatar <%= "shift-card-avatar--highlight" if user == u_shift.user %>">
                  <% end %>
                <% end %>
              </div>
              <strong>Details</strong>
              <div class="details">
                <p class="shift-card-container-drop-details"><%= u_shift.details %></p>
              </div>
              <div class="shift-card-container-drop-buttons">
                <%= link_to user_shift_path(u_shift), class: "shift-card-icon-link" do %>
                  <i class="shift-card-icon-info fas fa-info-circle"></i>
                <% end %>
                <% unless u_shift.shift.user_on_shift?(current_user) %>
                  <%= link_to accept_shift_path(u_shift) do %>
                    <p class="btn btn-primary mb-0 take-over-button"><%= t 'take_over' %></p>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="background-image">
    <div class="banner-landing-page">
      <h1 id="h1-tag"><strong>Shifted</strong></h1>
      <p id="p-tag"><strong><%= t 'subtitle' %>.</strong></p>
      <p><%= t 'login-data' %>:<br>
      E-Mail: Karl.Wonder@mailbox.com<br>
      <%= t 'password' %>: coachoo</p>
      <%= link_to 'Login', new_user_session_path, class: "btn btn-warning login-btn" %>
      <div class="language-buttons">
        <%= link_to 'View site in english', root_path(locale: :en), class: "btn language-btn" if params[:locale] == 'de' || params[:locale] == nil %>
        <%= link_to 'Seite auf deutsch ansehen', root_path(locale: :de), class: "btn language-btn" if params[:locale] == 'en' %>
      </div>
    </div>
  </div>
<% end %>
