<%if user_signed_in? %>
  <div class="wrapper">
    <h2>Hello <%= current_user.first_name %> </h2>
    <div class="shift-box">
      <h2 class="shift-box-heading">Your next Shift</h2>
      <%= render 'shifts/your_shift', shift: @next_user_shift %>
    </div>
    <div class="shift-box shift-box--emergency">
      <h2 class="shift-box--emergency-heading">Emergency shifts</h2>
      <% @emergency_shifts.each do |shift| %>
        <%= render 'shifts/emergency_shift', shift: shift %>
      <% end %>
    </div>
    <div class="shift-box">
      <h2 class="shift-box-heading">Other open shifts</h2>
      <% @open_shifts.each do |shift| %>
        <%= render 'shifts/other_shift', shift: shift %>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="banner-landing-page">
    <h1 id="h1-tag"><strong>Shifted</strong></h1>
    <p id="p-tag"><strong>Finally loving work planning.</strong></p>
    <%= link_to 'Login', new_user_session_path, class: "btn btn-warning login-btn" %>
  </div>
<% end %>
