<%if user_signed_in? %>
  <div class="wrapper">
    <h2 class="wrapper-heading">Hello <%= current_user.first_name %> </h2>
    <div class="shift-box">
      <h2 class="shift-box-heading">Your next Shift</h2>
      <div class="shift-card <%= "shift-card--early" if @next_user_shift.shift.slot.name == "Early" %>
                             <%= "shift-card--late" if @next_user_shift.shift.slot.name == "Late" %>
                             <%= "shift-card--night" if @next_user_shift.shift.slot.name == "Night" %>"
        data-bs-toggle="collapse" data-bs-target="#nextShift" aria-expanded="false" aria-controls="nextShift">
        <div class="shift-card-left-side">
          <h3 class="shift-card-left-side-title"><%= @next_user_shift.shift.slot.name.capitalize %>
            <% if @next_user_shift.shift.user_on_shift?(current_user) %>
              <img class="avatar-bordered avatar-bordered--small" src="<%= cl_image_path(current_user.photo.key, width: 75, height: 75, crop: :thumb, gravity: :face) %>" alt="avatar-image">
            <% end %>
          </h3>
          <div class="d-flex align-items-center">
          <p class="shift-card-time"><i class="shift-card-icon fas fa-clock"></i>&nbsp&nbsp<%= @next_user_shift.shift.slot.start_time.strftime("%H:%M") %> - <%= @next_user_shift.shift.slot.end_time.strftime("%H:%M") %></p>
          </div>
        </div>
        <div class="shift-card-right-side">
          <p class="shift-card-date"><%= @next_user_shift.shift.date.strftime("%b %d") %></p>
          <% unless @next_user_shift.bonus_points == 0 %>
            <div class="d-flex align-items-center">
              <p class="shift-card-points"><i class="shift-card-icon fas fa-coins"></i>&nbsp&nbsp<%= @next_user_shift.bonus_points %> bps</p>
            </div>
          <% end %>
        </div>
        <div class="collapse mt-1 shift-card-container" id="nextShift">
          <div class="shift-card-container-drop">
            <div class="shift-card-container-drop-avatars">
              <% @next_user_shift.shift.user_ids.each do |user_id| %>
                <% user=User.find(user_id) %>
                <% unless user == current_user %>
                  <img src="<%= cl_image_path(user.photo.key, width: 75, height: 75, crop: :thumb, gravity: :face) %>" alt="avatar-image" class="avatar-bordered shift-card-avatar">
                <% end %>
              <% end %>
            </div>
            <strong>Details</strong>
            <p class="shift-card-container-drop-details"><%= @next_user_shift.details %></p>
            <%= link_to user_shift_path(@next_user_shift), class: "shift-card-icon-link" do %>
              <i class="shift-card-icon-info fas fa-info-circle"></i>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="shift-box shift-box--emergency">
      <h2 class="shift-box--emergency-heading">Emergencies <i class="fas fa-exclamation-triangle"></i></h2>
      <% @emergency_shifts.each do |u_shift| %>
        <div class="shift-card shift-card--emergency" data-bs-toggle="collapse" data-bs-target="#cardForShift<%= u_shift.id %>" aria-expanded="false" aria-controls="cardForShift<%= u_shift.id %>">
          <div class="shift-card-left-side">
            <h3 class="shift-card-left-side-title"><%= u_shift.shift.slot.name.capitalize %>
              <% if u_shift.shift.user_on_shift?(current_user) %>
                <img class="avatar-bordered avatar-bordered--small" src="<%= cl_image_path(current_user.photo.key, width: 75, height: 75, crop: :thumb, gravity: :face) %>" alt="avatar-image">
              <% end %>
            </h3>
            <div class="d-flex align-items-center">
              <p class="shift-card-time"><i class="shift-card-icon fas fa-clock"></i>&nbsp&nbsp<%= u_shift.shift.slot.start_time.strftime("%H:%M") %> - <%= u_shift.shift.slot.end_time.strftime("%H:%M") %></p>
            </div>
          </div>
          <div class="shift-card-right-side">
            <p class="shift-card-date"><%= u_shift.shift.date.strftime("%b %d") %></p>
            <% unless u_shift.bonus_points == 0 %>
              <div class="d-flex align-items-center">
                <p class="shift-card-points"><i class="shift-card-icon fas fa-coins"></i>&nbsp&nbsp<%= u_shift.bonus_points %> bps</p>
              </div>
            <% end %>
          </div>
          <div class="collapse mt-1 shift-card-container" id="cardForShift<%= u_shift.id %>">
            <div class="shift-card-container-drop">
              <div class="shift-card-container-drop-avatars">
                <% u_shift.shift.user_ids.each do |user_id| %>
                  <% user=User.find(user_id) %>
                  <% unless user == current_user %>
                    <img src="<%= cl_image_path(user.photo.key, width: 75, height: 75, crop: :thumb, gravity: :face) %>" alt="avatar-image" class="avatar-bordered shift-card-avatar">
                  <% end %>
                <% end %>
              </div>
              <strong>Details</strong>
              <div class="details">
                <p class="shift-card-container-drop-details"><%= u_shift.details %></p>
              </div>
              <div class="shift-card-container-drop-buttons">
                <%= link_to user_shift_path(u_shift), class: "shift-card-icon-link" do %>
                  <i class="shift-card-icon-info fas fa-info-circle"></i>
                <% end %>
                <% unless u_shift.shift.user_on_shift?(current_user) %>
                  <p class="btn btn-primary">accept shift</p>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="shift-box">
      <h2 class="shift-box-heading">Other open shifts</h2>
      <% @open_shifts.each do |u_shift| %>
        <div class="shift-card <%= "shift-card--early" if u_shift.shift.slot.name == "Early" %>
                               <%= "shift-card--late" if u_shift.shift.slot.name == "Late" %>
                               <%= "shift-card--night" if u_shift.shift.slot.name == "Night" %>"
        data-bs-toggle="collapse" data-bs-target="#cardForShift<%= u_shift.id %>" aria-expanded="false" aria-controls="cardForShift<%= u_shift.id %>">
          <div class="shift-card-left-side">
            <h3 class="shift-card-left-side-title"><%= u_shift.shift.slot.name.capitalize %>
              <% if u_shift.shift.user_on_shift?(current_user) %>
                <img class="avatar-bordered avatar-bordered--small" src="<%= cl_image_path(current_user.photo.key, width: 75, height: 75, crop: :thumb, gravity: :face) %>" alt="avatar-image">
              <% end %>
            </h3>
            <div class="d-flex align-items-center">
              <p class="shift-card-time"><i class="shift-card-icon fas fa-clock"></i>&nbsp&nbsp<%= u_shift.shift.slot.start_time.strftime("%H:%M") %> - <%= u_shift.shift.slot.end_time.strftime("%H:%M") %></p>
            </div>
          </div>
          <div class="shift-card-right-side">
            <p class="shift-card-date"><%= u_shift.shift.date.strftime("%b %d") %></p>
            <% unless u_shift.bonus_points == 0 %>
              <div class="d-flex align-items-center">
                <p class="shift-card-points"><i class="shift-card-icon fas fa-coins"></i>&nbsp&nbsp<%= u_shift.bonus_points %> bps</p>
              </div>
            <% end %>
          </div>
          <div class="collapse mt-1 shift-card-container" id="cardForShift<%= u_shift.id %>">
            <div class="shift-card-container-drop">
              <div class="shift-card-container-drop-avatars">
                <% u_shift.shift.user_ids.each do |user_id| %>
                  <% user=User.find(user_id) %>
                  <% unless user == current_user %>
                    <img src="<%= cl_image_path(user.photo.key, width: 75, height: 75, crop: :thumb, gravity: :face) %>" alt="avatar-image" class="avatar-bordered shift-card-avatar <%= "shift-card-avatar--red" if user == u_shift.user %>">
                  <% end %>
                <% end %>
              </div>
              <strong>Details</strong>
              <div class="details">
                <p class="shift-card-container-drop-details"><%= u_shift.details %></p>
              </div>
              <div class="shift-card-container-drop-buttons">
                <%= link_to user_shift_path(u_shift), class: "shift-card-icon-link" do %>
                  <i class="shift-card-icon-info fas fa-info-circle"></i>
                <% end %>
                <% unless u_shift.shift.user_on_shift?(current_user) %>
                  <p class="btn btn-primary">accept shift</p>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="banner-landing">
    <div class="banner-landing-page">
      <h1 class="banner-landing-page-heading"><strong>Shifted</strong></h1>
      <p class="banner-landing-page-subtitle"><strong>Finally loving work planning.</strong></p>
      <%= link_to 'Login', new_user_session_path, class: "banner-landing-page-button" %>
    </div>
  </div>
<% end %>
