<div class="d-flex flex-column align-items-center justify-content-center">
  <br>
  <h2><strong>Your profile</strong></h2>
  <div class="col1 avatar-box">
    <% unless current_user.photo.attached? %>
      <img src="<%= asset_path('default_avatar.png') %>" width="40" alt="default-avatar-image" class="card-trip-user avatar-bordered">
    <% else %>
      <img src="<%= cl_image_path(current_user.photo.key, width: 120, height: 120, crop: :thumb, gravity: :face) %>" alt="avatar-image" class="card-trip-user avatar-bordered">
    <% end %>
  </div>

  <div class="col2 box">
    <div class="d-flex justify-content-between">
      <h3 id="name"><%= current_user.first_name %>&nbsp<%= current_user.last_name %></h3>
    </div>
    <div class="text">
      <i class="fas fa-book-medical i"></i>
      <%= current_user.experience_level %>
    </div>
    <div class="text">
      <i class="fas fa-user-tie i"></i>
      <%= current_user.functional_role.name %>
    </div>
    <div class="text">
      <i class="fas fa-coins i"></i>
      <%= current_user.bonus_points %> bps
    </div>
    <div class="text">
      <i class="fas fa-comments i"></i>
      "<%= current_user.additional_infos %>"
    </div>
  </div>

  <div class="col3 box">
    <div class="d-flex justify-content-between">
      <h3 id="name">Currently offered prizes</h3>
    </div>
    <% Prize.all.each do |prize| %>
      <div class="text">
        <i class="fas fa-award i"></i>
        <%= prize.bonus_points %> bps for:
        <%= prize.prize %>
      </div>
    <% end %>
  </div>

  <div class="col4 box ">

      <div class="grid-container preferred-slots">
        <div class="grid-container days">
          <div class="weekdays">M</div>
          <div class="weekdays">T</div>
          <div class="weekdays">W</div>
          <div class="weekdays">T</div>
          <div class="weekdays">F</div>
          <div class="weekdays">S</div>
          <div class="weekdays">S</div>
        </div>
        <div class="slots">
          <div class="slot slot-labels-col">
            <p class="slot-labels">Early</p>
            <p class="slot-labels">Late</p>
            <p class="slot-labels">Night</p>
          </div>
          <div class="slot">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="slot-radio" id="slot-radio-early" value="option1" checked>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="slot-radio" id="slot-radio-late" value="option1" checked>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="slot-radio" id="slot-radio-night" value="option1" checked>
            </div>
            </div>
            <div class="slot">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="slot-radio" id="slot-radio-early" value="option1" checked>
              </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="slot-radio" id="slot-radio-late" value="option1" checked>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="slot-radio" id="slot-radio-night" value="option1" checked>
            </div>
          </div>
          <div class="slot">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="slot-radio" id="slot-radio-early" value="option1" checked>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="slot-radio" id="slot-radio-late" value="option1" checked>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="slot-radio" id="slot-radio-night" value="option1" checked>
            </div>
          </div>
          <div class="slot">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="slot-radio" id="slot-radio-early" value="option1" checked>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="slot-radio" id="slot-radio-late" value="option1" checked>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="slot-radio" id="slot-radio-night" value="option1" checked>
            </div>
          </div>
          <div class="slot">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="slot-radio" id="slot-radio-early" value="option1" checked>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="slot-radio" id="slot-radio-late" value="option1" checked>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="slot-radio" id="slot-radio-night" value="option1" checked>
            </div>
          </div>
          <div class="slot">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="slot-radio" id="slot-radio-early" value="option1" checked>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="slot-radio" id="slot-radio-late" value="option1" checked>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="slot-radio" id="slot-radio-night" value="option1" checked>
            </div>
          </div>
          <div class="slot">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="slot-radio" id="slot-radio-early" value="option1" checked>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="slot-radio" id="slot-radio-late" value="option1" checked>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="slot-radio" id="slot-radio-night" value="option1" checked>
            </div>
          </div>
        </div>
      </div>


  </div>
</div>
