<div class="d-flex flex-column align-items-center justify-content-center">
  <br>
  <h2><strong>Your profile</strong></h2>
  <div class="col1 avatar-box">
    <img src="https://kitt.lewagon.com/placeholder/users/thomasgerleve" class="card-trip-user avatar-bordered" />
  </div>

  <div class="col2 box">
    <div class="d-flex justify-content-between">
      <h3 id="name"><%= current_user.first_name %>&nbsp<%= current_user.last_name %></h3>
      <%= link_to '', edit_user_registration_path, class: "fas fa-pencil-alt pencil" %>
    </div>
    <div class="text">
      <i class="fas fa-book-medical i"></i>
      <%= current_user.experience_level %>
    </div>
    <div class="text">
      <i class="fas fa-user-tie i"></i>
      <%= current_user.functional_role.name %>
    </div>
    <div class="text">
      <i class="fas fa-coins i"></i>
      <%= current_user.bonus_points %> bps
    </div>
    <div class="text">
      <i class="fas fa-comments i"></i>
      "<%= current_user.additional_infos %>"
    </div>
  </div>

  <div class="col3 box">
    <div class="d-flex justify-content-between">
      <h3 id="name">Currently offered prizes</h3>
    </div>
    <% Prize.all.each do |prize| %>
      <div class="text">
        <i class="fas fa-award i"></i>
        <%= prize.bonus_points %> bps for:
        <%= prize.prize %>
      </div>
    <% end %>
  </div>

  <div class="col4 box">
    <div class="d-flex justify-content-between">
      <h3 id="name">Your preferred slots</h3>
      <a href="#">
        <i class="fas fa-pencil-alt pencil"></i>
      </a>
    </div>
    <% current_user.preferred_slots.each do |preferred_slot| %>
      <div class="text">
        <i class="fas fa-clock i"></i>
        <%= preferred_slot.weekday %>
        <%= preferred_slot.slot.name %>
      </div>
    <% end %>
  </div>
</div>
