

<div class="d-flex flex-column align-items-center justify-content-center">
  <br>
  <h2><strong>Your profile</strong></h2>
  <div class="col1 avatar-box">
    <% unless current_user.photo.attached? %>
      <img src="<%= asset_path('default_avatar.png') %>" width="40" alt="default-avatar-image" class="card-trip-user avatar-bordered">
    <% else %>
      <img src="<%= cl_image_path(current_user.photo.key, width: 120, height: 120, crop: :thumb, gravity: :face) %>" alt="avatar-image" class="card-trip-user avatar-bordered">
    <% end %>
  </div>

  <div class="col2 box">
    <div class="d-flex justify-content-between">
      <h3 id="name"><%= current_user.first_name %>&nbsp<%= current_user.last_name %></h3>
    </div>
    <div class="text">
      <i class="fas fa-book-medical i"></i>
      <%= current_user.experience_level %>
    </div>
    <div class="text">
      <i class="fas fa-user-tie i"></i>
      <%= current_user.functional_role.name %>
    </div>
    <div class="text">
      <i class="fas fa-coins i"></i>
      <%= current_user.bonus_points %> bps
    </div>
    <div class="text">
      <i class="fas fa-comments i"></i>
      "<%= current_user.additional_infos %>"
    </div>
  </div>

  <div class="col3 box">
    <div class="d-flex justify-content-between">
      <h3 id="name">Currently offered prizes</h3>
    </div>
    <% Prize.all.each do |prize| %>
      <div class="text">
        <i class="fas fa-award i"></i>
        <%= prize.bonus_points %> bps for:
        <%= prize.prize %>
      </div>
    <% end %>
  </div>
  <div class="preferred-slots">
    <h3 class="preferred-slot-tag">Your preferred slots</h3>
    <div class="grid-container">
      <div class="grid-item"></div>
      <div class="grid-item slot-label">Early</div>
      <div class="grid-item slot-label">Late</div>
      <div class="grid-item slot-label">Night</div>
      <div class="grid-item day">Monday</div>
      <div class="grid-item check-box-container">
        <input class="form-check-input" type="checkbox" name="slot-checkbox" id="slot-checkbox-early" value="monday1" checked>
      </div>
      <div class="grid-item check-box-container">
        <input class="form-check-input" type="checkbox" name="slot-checkbox" id="slot-checkbox-late" value="monday2" >
      </div>
      <div class="grid-item check-box-container">
        <input class="form-check-input" type="checkbox" name="slot-checkbox" id="slot-checkbox-night" value="monday3" >
      </div>
      <div class="grid-item day">Tuesday</div>
      <div class="grid-item check-box-container">
        <input class="form-check-input" type="checkbox" name="slot-checkbox" id="slot-checkbox-early" value="tuesday1" checked>
      </div>
      <div class="grid-item check-box-container">
        <input class="form-check-input" type="checkbox" name="slot-checkbox" id="slot-checkbox-late" value="tuesday2" >
      </div>
      <div class="grid-item check-box-container">
        <input class="form-check-input" type="checkbox" name="slot-checkbox" id="slot-checkbox-night" value="tuesday3" >
      </div>
      <div class="grid-item day">Wednesday</div>
      <div class="grid-item check-box-container">
        <input class="form-check-input" type="checkbox" name="slot-checkbox" id="slot-checkbox-early" value="wednesday1" >
      </div>
      <div class="grid-item check-box-container">
        <input class="form-check-input" type="checkbox" name="slot-checkbox" id="slot-checkbox-late" value="wednesday2" checked>
      </div>
      <div class="grid-item check-box-container">
        <input class="form-check-input" type="checkbox" name="slot-checkbox" id="slot-checkbox-night" value="wednesday3" >
      </div>
      <div class="grid-item day">Thursday</div>
      <div class="grid-item check-box-container">
        <input class="form-check-input" type="checkbox" name="slot-checkbox" id="slot-checkbox-early" value="thursday1" >
      </div>
      <div class="grid-item check-box-container">
        <input class="form-check-input" type="checkbox" name="slot-checkbox" id="slot-checkbox-late" value="thursday2" >
      </div>
      <div class="grid-item check-box-container">
        <input class="form-check-input" type="checkbox" name="slot-checkbox" id="slot-checkbox-night" value="thursday3" checked>
      </div>
      <div class="grid-item day">Friday</div>
      <div class="grid-item check-box-container">
        <input class="form-check-input" type="checkbox" name="slot-checkbox" id="slot-checkbox-early" value="friday1" >
      </div>
      <div class="grid-item check-box-container">
        <input class="form-check-input" type="checkbox" name="slot-checkbox" id="slot-checkbox-late" value="friday2" checked>
      </div>
      <div class="grid-item check-box-container">
        <input class="form-check-input" type="checkbox" name="slot-checkbox" id="slot-checkbox-night" value="friday3" >
      </div>
      <div class="grid-item day">Saturday</div>
      <div class="grid-item check-box-container">
        <input class="form-check-input" type="checkbox" name="slot-checkbox" id="slot-checkbox-early" value="saturday1" >
      </div>
      <div class="grid-item check-box-container">
        <input class="form-check-input" type="checkbox" name="slot-checkbox" id="slot-checkbox-late" value="saturday2" >
      </div>
      <div class="grid-item check-box-container">
        <input class="form-check-input" type="checkbox" name="slot-checkbox" id="slot-checkbox-night" value="saturday3" checked>
      </div>
      <div class="grid-item day">Sunday</div>
      <div class="grid-item check-box-container">
        <input class="form-check-input" type="checkbox" name="slot-checkbox" id="slot-checkbox-early" value="sunday1" >
      </div>
      <div class="grid-item check-box-container">
        <input class="form-check-input" type="checkbox" name="slot-checkbox" id="slot-checkbox-late" value="sunday2" checked>
      </div>
      <div class="grid-item check-box-container">
        <input class="form-check-input" type="checkbox" name="slot-checkbox" id="slot-checkbox-night" value="sunday3" >
      </div>
    </div>
  </div>
</div>
